<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Gas Emissions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ghg_style.css">
    <script type="module" src="https://embedding.tableauusercontent.com/tableau.embedding.3.1.0.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <img src="../static/images/factory1.jpg" class="img-responsive mw-100 mh-100" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse navbcolor">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="#">Model</a></li>
                                <li><a href="factors">Factors</a></li>
                                <li><a href="usdata">USA</a></li>
                                <li><a href="analysis">Analysis</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Machine Learning Model Data</h3>
                <p class="text-left">Climate Change data from World Bank database is used to analyze the factors that
                    can
                    influence greenhouse gas emissions.
                    A hypothesis is formulated to test if CO<sub>2</sub> emissions depend on country-specific features
                    available in
                    the dataset and can be predicted from these.
                    Machine learning models are built for predicting CO<sub>2</sub>
                    emissions from growth indicators like Gross Domestic Product (GDP), population, and
                    fossil fuel usage. Due to the exhibition of nonlinearity of emissions with respect to
                    country-specific features,
                    Decision Tree Regression and Random Forest Regression models are considered.
                    Comparing the root mean square error (RMSE) between the two,
                    Random Forest Regressor(RMSE=0.0493) fits the data better than Decision Tree
                    Regressor (RSME = 0.416). An R-Squared of 99.3% is recorded by Random Forest Regressor.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-center">Decision Tree Regression</h5>
                <img src="../static/images/dtree_metrics.png" class="img-responsive mw-100 mh-100" />
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Random Forest Regression</h5>
                <img src="../static/images/rf_metrics.png" class="img-responsive mw-100 mh-100" />
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p class="text-uppercase text-muted text-center">presented by Elaine, LOIS, MIA, SATYA, SHILPA.</p>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</html>