<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Gas Emissions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/ghg_style.css">
    <script type="module" src="https://embedding.tableauusercontent.com/tableau.embedding.3.1.0.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <img src="../static/images/factory1.jpg" class="img-responsive mw-100 mh-100" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse navbcolor">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="trends">Model</a></li>
                                <li><a href="factors">Factors</a></li>
                                <li class="active"><a href="#">USA</a></li>
                                <li><a href="analysis">Analysis</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3 class="page-header text-center">State and Sector-wise emissions in USA</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <tableau-viz id="tableauViz" src="https://public.tableau.com/views/EmissionsbyState/EmissionsbyState_1"
                    height="800px" width="800px" toolbar="bottom" hide-tabs="true">
                </tableau-viz>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p class="text-uppercase text-muted text-center">Presented by: Elaine, LOIS, MIA, SATYA, SHILPA.</p>
    </footer>
</body>

</html>